.fundoAzul {
    background-color: #C6E7FF;
}

.tituloRelatorio {
    font-size: 1em;
    margin-bottom: 1em;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 0.1em;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
    
}

table th{
    font-size: 0.8em;
    text-transform: uppercase;
}
